django                      # https://github.com/django/django
djangorestframework         # https://github.com/encode/django-rest-framework
djangorestframework-jwt     # https://github.com/GetBlimp/django-rest-framework-jwt
psycopg2-binary             # http://initd.org/psycopg/docs/install.html#binary-install-from-pypi
